/**
 * CSS for Learn Learnin'
 */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
div{margin:0;padding:0;background-color:transparent;text-align:left}
hr,img{border:0}


html,body{
  font-size:25px;
  font-family: "Cardo","comic sans ms", Helvetica, Geneva, sans-serif;
  height: 100%;
}

a{
  text-decoration: none;
}

article a {
  border-bottom: 1px dotted #ba0000;
}
article a:hover {
  border-bottom: 1px solid #ba0000;
  background-color: cyan;
}

a.linchor{
  border:none;
}


aside a{
  background-color: #cfcfcf;
  border: 1px solid cyan;
  padding: 1px;
  border-radius: 5px;
}

aside a:hover{
  background-color: #eeeeee;
}

nav form{
  display: inline;
}
nav,header{
  padding: 0 20% 1%;
  background-color: #f2f2f2;
}

.search-bar{
  width:150px;
}

#toc{
  padding:0 20% 0;
}
#toggletoc{
  margin-left: 70%;
}

article{
  position:relative;
  padding:2% 20% 2%;
  background-color: white;
  height:auto !important;
  min-height:60%;
}

aside{
  padding:0 20% 10%;
  font-size:18px;
  clear:both;
  background-color: #ccc;
}



.nav{
  float:right;
}
.linchor{
  text-decoration: none;
  position:absolute;
  margin-left:-20px;
  padding-top:20px;
  font-size: 20px;
  opacity:0.1;
}
.linchor:hover{
  opacity: 1;
}


@media all and (max-width: 900px){
  nav,header,article,aside,#toc{
    padding-left: 10%;
    padding-right: 10%;
  }
  aside{
    line-height: 40px;
  }
}

@media all and (max-width: 600px){
  nav,header,article,aside,#toc{
    padding-left: 5%;
    padding-right: 5%;
  }
  h1{
    font-size:10vw;
  }
  h2{
    font-size:9vw;
  }
  ul{
    padding:0;
  }
}
