<aside class="share separator separatorpipe" role="complementary">
    Share »
    <a target="_blank" href="https://telegram.me/share/url?text={{ .Title }} - &url={{ .Permalink }}"> Telegram</a>
    <a target="_blank" href="mailto:?subject={{ .Title }}&body=Check this out: {{ .Permalink }}">Email</a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">Facebook</a>
    <a target="_blank" href="https://twitter.com/intent/tweet?url={{ .Permalink }}">Twitter</a>    
    <a target="_blank" href="https://api.whatsapp.com/send?text={{ .Title }} - {{ .Permalink }}">Whatsapp</a>
</aside>